* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-box {
    padding: 20px;
    background-color: #ddd;
    height: 300px;
    width: 300px;
    background-color: greenyellow;
}